[data-theme='dark'] {
  --color-interaction-primary-default: #0870ff;
  --color-interaction-primary-hover: #0042a0;
  --color-interaction-primary-disabled: #76aaff;
  --color-interaction-primary-pressed: #005cd7;
  --color-interaction-secondary-default: #26262b;
  --color-interaction-secondary-hover: #2d2e32;
  --color-interaction-secondary-disabled: #3d3e42;
  --color-interaction-secondary-dark: #1e1e24;
  --color-interaction-critical-default: #e2262a;
  --color-interaction-critical-hover: #90000e;
  --color-interaction-critical-disabled: #ffa9a0;
  --color-interaction-critical-pressed: #c20017;
  --color-elevation-surface-sunken: #101013;
  --color-elevation-surface-default: #141418;
  --color-elevation-surface-selected: #2d2e32;
  --color-elevation-surface-hover: #3d3e42;
  --color-elevation-surface-raised: #1e1e24;
  --color-elevation-surface-overlay: #26262b;
  --color-elevation-surface-frame: #1e1e24;
  --color-elevation-surface-floating: #ffffff;
  --color-background-primary-default: #1e1e24;
  --color-background-primary-disabled: #2d2e32;
  --color-background-critical-default: #5e0006;
  --color-background-critical-dark: #360002;
  --color-background-attention-default: #533600;
  --color-background-positive-default: #00470a;
  --color-background-brand-default: #00296a;
  --color-background-accent-default: #3e0091;
  --color-border-secondary-default: #cdced4;
  --color-border-tertiary-default: #f2f3f8;
  --color-border-brand-selected: #0870ff;
  --color-border-brand-default: #00296a;
  --color-border-brand-disabled: #76aaff;
  --color-border-positive-default: #36d046;
  --color-border-attention-default: #fbaf18;
  --color-border-critical-default: #fc4945;
  --color-border-critical-dark: #5e0006;
  --color-border-critical-disabled: #ff7f74;
  --color-border-primary-default: #3d3e42;
  --color-border-accent-default: #a694ff;
  --color-icon-primary-default: #e2e3e9;
  --color-icon-primary-disabled: #838489;
  --color-icon-static-default: #e2e3e9;
  --color-icon-static-dark: #101013;
  --color-icon-brand-default: #0870ff;
  --color-icon-brand-hover: #0042a0;
  --color-icon-brand-disabled: #76aaff;
  --color-icon-positive-default: #4dde58;
  --color-icon-attention-default: #ffbc51;
  --color-icon-critical-default: #fc4945;
  --color-icon-critical-hover: #90000e;
  --color-icon-critical-disabled: #ff7f74;
  --color-icon-accent-default: #b5a8ff;
  --color-icon-inverse-default: #26262b;
  --color-text-primary-default: #cdced4;
  --color-text-primary-disabled: #838489;
  --color-text-secondary-default: #a5a6ab;
  --color-text-secondary-disabled: #838489;
  --color-text-tertiary-default: #b9babf;
  --color-text-accent-default: #b5a8ff;
  --color-text-attention-default: #fff3e3;
  --color-text-critical-default: #fc4945;
  --color-text-critical-hover: #90000e;
  --color-text-critical-disabled: #ff7f74;
  --color-text-critical-dark: #ffcfc9;
  --color-text-static-default: #ffffff;
  --color-text-static-dark: #101013;
  --color-text-positive-default: #e1ffe0;
  --color-text-brand-default: #0870ff;
  --color-text-brand-hover: #0042a0;
  --color-text-brand-disabled: #76aaff;
  --color-text-inverse-default: #26262b;
}
