:root {
  --color-interaction-primary-default: #0870ff;
  --color-interaction-primary-hover: #0042a0;
  --color-interaction-primary-disabled: #76aaff;
  --color-interaction-primary-pressed: #005cd7;
  --color-interaction-secondary-default: #ffffff;
  --color-interaction-secondary-hover: #e2e3e9;
  --color-interaction-secondary-disabled: #e2e3e9;
  --color-interaction-secondary-dark: #f2f3f8;
  --color-interaction-critical-default: #e2262a;
  --color-interaction-critical-hover: #90000e;
  --color-interaction-critical-disabled: #ffa9a0;
  --color-interaction-critical-pressed: #c20017;
  --color-elevation-surface-default: #fafbfe;
  --color-elevation-surface-selected: #cdced4;
  --color-elevation-surface-hover: #e2e3e9;
  --color-elevation-surface-overlay: #ffffff;
  --color-elevation-surface-raised: #ffffff;
  --color-elevation-surface-sunken: #ffffff;
  --color-background-primary-default: #fafbfe;
  --color-background-primary-disabled: #f2f3f8;
  --color-background-critical-default: #fff2f0;
  --color-background-attention-default: #fff3e3;
  --color-background-positive-default: #e1ffe0;
  --color-background-brand-default: #f0f6ff;
  --color-background-accent-default: #e4e1ff;
  --color-border-secondary-default: #e2e3e9;
  --color-border-tertiary-default: #f2f3f8;
  --color-border-brand-selected: #0870ff;
  --color-border-brand-default: #00296a;
  --color-border-brand-disabled: #76aaff;
  --color-border-positive-default: #36d046;
  --color-border-critical-default: #e2262a;
  --color-border-critical-dark: #5e0006;
  --color-border-critical-disabled: #ff7f74;
  --color-border-attention-default: #fbaf18;
  --color-border-primary-default: #cdced4;
  --color-border-accent-default: #a694ff;
  --color-icon-primary-default: #3d3e42;
  --color-icon-primary-disabled: #cdced4;
  --color-icon-inverted-default: #ffffff;
  --color-icon-brand-default: #0870ff;
  --color-icon-brand-hover: #0042a0;
  --color-icon-brand-disabled: #76aaff;
  --color-icon-positive-default: #36d046;
  --color-icon-attention-default: #fbaf18;
  --color-icon-critical-default: #e2262a;
  --color-icon-critical-hover: #90000e;
  --color-icon-critical-disabled: #ff7f74;
  --color-icon-accent-default: #633bc6;
  --color-text-primary-default: #2d2e32;
  --color-text-primary-disabled: #b9babf;
  --color-text-secondary-default: #696a6e;
  --color-text-secondary-disabled: #b9babf;
  --color-text-tertiary-default: #696a6e;
  --color-text-accent-default: #633bc6;
  --color-text-attention-default: #533600;
  --color-text-critical-default: #e2262a;
  --color-text-critical-hover: #90000e;
  --color-text-critical-disabled: #ff7f74;
  --color-text-critical-dark: #5e0006;
  --color-text-inverted-default: #ffffff;
  --color-text-positive-default: #00470a;
  --color-text-brand-default: #0870ff;
  --color-text-brand-hover: #0042a0;
  --color-text-brand-disabled: #76aaff;
}
