:root {
  --color-interaction-primary-default: #0870ff;
  --color-interaction-primary-hover: #0042a0;
  --color-interaction-primary-disabled: #76aaff;
  --color-interaction-primary-pressed: #005cd7;
  --color-interaction-secondary-default: #ffffff;
  --color-interaction-secondary-hover: #f2f3f8;
  --color-interaction-secondary-disabled: #e2e3e9;
  --color-interaction-secondary-dark: #f2f3f8;
  --color-interaction-critical-default: #e2262a;
  --color-interaction-critical-hover: #90000e;
  --color-interaction-critical-disabled: #ffa9a0;
  --color-interaction-critical-pressed: #c20017;
  --color-elevation-surface-sunken: #fafbfe;
  --color-elevation-surface-default: #ffffff;
  --color-elevation-surface-selected: #cdced4;
  --color-elevation-surface-hover: #e2e3e9;
  --color-elevation-surface-raised: #ffffff;
  --color-elevation-surface-overlay: #ffffff;
  --color-elevation-surface-frame: #fafbfe;
  --color-elevation-surface-backdrop: #101013;
  --color-elevation-surface-floating: #26262b;
  --color-elevation-shadow-default: #101013;
  --color-background-primary-default: #fafbfe;
  --color-background-primary-disabled: #f2f3f8;
  --color-background-brand-default: #f0f6ff;
  --color-background-critical-default: #fff2f0;
  --color-background-critical-dark: #fff2f0;
  --color-background-attention-default: #fff3e3;
  --color-background-positive-default: #e1ffe0;
  --color-background-accent-default: #e4e1ff;
  --color-icon-primary-default: #3d3e42;
  --color-icon-primary-disabled: #cdced4;
  --color-icon-brand-default: #0870ff;
  --color-icon-brand-hover: #0042a0;
  --color-icon-brand-disabled: #76aaff;
  --color-icon-critical-default: #e2262a;
  --color-icon-critical-hover: #90000e;
  --color-icon-critical-disabled: #ff7f74;
  --color-icon-attention-default: #fbaf18;
  --color-icon-positive-default: #36d046;
  --color-icon-accent-default: #633bc6;
  --color-icon-static-default: #ffffff;
  --color-icon-static-dark: #101013;
  --color-icon-inverse-default: #fafbfe;
  --color-border-primary-default: #cdced4;
  --color-border-secondary-default: #e2e3e9;
  --color-border-brand-selected: #0870ff;
  --color-border-brand-default: #00296a;
  --color-border-brand-disabled: #76aaff;
  --color-border-critical-default: #e2262a;
  --color-border-critical-dark: #5e0006;
  --color-border-critical-disabled: #ff7f74;
  --color-border-attention-default: #fbaf18;
  --color-border-positive-default: #36d046;
  --color-border-accent-default: #a694ff;
  --color-text-primary-default: #2d2e32;
  --color-text-primary-disabled: #b9babf;
  --color-text-secondary-default: #696a6e;
  --color-text-secondary-disabled: #b9babf;
  --color-text-tertiary-default: #696a6e;
  --color-text-brand-default: #0870ff;
  --color-text-brand-hover: #0042a0;
  --color-text-brand-disabled: #76aaff;
  --color-text-critical-default: #e2262a;
  --color-text-critical-hover: #90000e;
  --color-text-critical-disabled: #ff7f74;
  --color-text-critical-dark: #5e0006;
  --color-text-attention-default: #533600;
  --color-text-positive-default: #00470a;
  --color-text-accent-default: #633bc6;
  --color-text-static-default: #ffffff;
  --color-text-static-dark: #101013;
  --color-text-inverse-default: #fafbfe;
  --font-family-headings: 'Inter';
  --font-family-body: 'Inter';
  --font-size-2xs: 0.75rem;
  --font-size-xs: 0.875rem;
  --font-size-s: 1rem;
  --font-size-m: 1.125rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 1.75rem;
  --font-size-3xl: 2rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-line-height-2xs: 1.125rem;
  --font-line-height-xs: 1.375rem;
  --font-line-height-s: 1.625rem;
  --font-line-height-m: 1.75rem;
  --font-line-height-l: 1.875rem;
  --font-line-height-xl: 2rem;
  --font-line-height-2xl: 2.25rem;
  --font-line-height-3xl: 2.5rem;
  --border-radius-card: 0.5rem;
  --border-radius-overlay: 0.25rem;
  --border-radius-button: 0.25rem;
  --border-radius-checkbox: 0.25rem;
  --border-radius-none: 0rem;
  --border-radius-2xs: 0.125rem;
  --border-radius-xs: 0.25rem;
  --border-radius-s: 0.375rem;
  --border-radius-m: 0.5rem;
  --border-radius-l: 0.75rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 1.25rem;
  --border-radius-3xl: 1.5rem;
  --border-radius-4xl: 2rem;
  --border-radius-round: 624.9375rem;
}
