/*
  * Helper util for visually hidden elements, which are still accessible for screen readers but not visible on the screen.
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/** 
 * Helper for the ellipsis animation, which is used in the mt-button component when the loading state is active.
 */
@keyframes ellipsis {
  to {
    width: 1.25rem;
  }
}
