@import "../variables.scss";

$mt-tooltip-z-index: 1100;
$mt-tooltip-border-radius: 4px;
$mt-tooltip-color-light: #52667a;
$mt-tooltip-border-color-light: #d1d9e0;

.mt-tooltip {
  position: absolute;
  z-index: $mt-tooltip-z-index;

  &.mt-tooltip--dark {
    background-color: var(--color-elevation-surface-floating);
    border-radius: $mt-tooltip-border-radius;
    color: var(--color-text-inverse-default);
    padding: 12px 16px;
    font-size: 14px;
    word-wrap: break-word;

    &::before {
      content: "";
      position: absolute;
      height: 8px;
      width: 8px;
      transform: rotate(45deg);
      background: var(--color-elevation-surface-floating);
    }

    &.mt-tooltip--top::before {
      bottom: -4px;
      margin-left: -4px;
      left: 50%;
    }

    &.mt-tooltip--bottom::before {
      top: -4px;
      margin-left: -4px;
      left: 50%;
    }

    &.mt-tooltip--left::before {
      top: 50%;
      margin-top: -4px;
      right: -4px;
    }

    &.mt-tooltip--right::before {
      top: 50%;
      margin-top: -4px;
      left: -4px;
    }
  }

  &.mt-tooltip--light {
    color: $mt-tooltip-color-light;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 0;
    line-height: 19px;
    width: auto !important;
    height: auto !important;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid $mt-tooltip-border-color-light;
    box-shadow: 0 3px 6px 0 rgba(120, 138, 155, 0.5);
    border-radius: 4px;

    &.mt-tooltip--top {
      margin-top: 6px;
    }

    &.mt-tooltip--bottom {
      margin-top: -4px;
    }

    &.mt-tooltip--left {
      margin-left: 5px;
    }

    &.mt-tooltip--right {
      margin-right: -5px;
    }
  }
}
