@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("~inter-ui/Inter (web)/Inter-roman.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("~inter-ui/Inter (web)/Inter-italic.var.woff2?v=3.19")
    format("woff2");
}
