name: "size"

on:
  pull_request:

  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  size-limit:
    name: Size Limit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 10.12.3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Build packages
        run: npx turbo run build

      - name: Run size limit
        run: pnpm --filter @shopware-ag/meteor-component-library run size