name: "size"

on:
  pull_request:

  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  size-limit:
    name: Size Limit
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Build packages
        run: pnpm turbo run build

      - name: Run size limit
        run: pnpm --filter @shopware-ag/meteor-component-library run size
