name: Update icons

# Manual trigger
on: workflow_dispatch

env:
  FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}
  FIGMA_FILE: ${{ secrets.ICON_KIT__FIGMA_FILE }}

jobs:
  update:
    name: Update icons
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Build
        run: pnpm --prefix ./packages/icon-kit run build

      - name: Update icons
        run: pnpm --prefix ./packages/icon-kit run start

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: Update icons
          committer: ${{ secrets.ICON_KIT__COMMITTER }}
          author: Dennis Mader <${{ secrets.ICON_KIT__COMMITTER }}>
          branch: update-icons
          delete-branch: true
          branch-suffix: timestamp
          title: Update icons
          assignees: Weltraumakustik
