name: Visual tests

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: runs-on=${{ github.run_id }}/cpu=2/family=m7a+m7i-flex/image=ubuntu24-full-x64
    steps:
      - run: |
          echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' > .npmrc
          sleep 1d
        shell: bash
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
