name: Visual tests

on:
  push:
    branches:
      - main
    paths:
      - "packages/component-library/**"

  pull_request:

  workflow_dispatch:

jobs:
  storybook-tests:
    name: Storybook Tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i --frozen-lockfile --prefer-offline

      - name: Install Playwright dependencies
        run: pnpm dlx playwright install-deps

      - name: Install Playwright
        run: pnpm dlx playwright@1.47.2 install

      - name: Build dependencies
        run: pnpm turbo run build --filter=@shopware-ag/meteor-component-library

      - name: Build storybook
        run: pnpm --filter @shopware-ag/meteor-component-library run build:storybook --test

      - name: Run Tests
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: |
          npx concurrently --kill-others --success first --names "SB,TEST"  --hide "SB" --prefix-colors "magenta,blue" \
          "http-server ./packages/component-library/storybook-static -a 127.0.0.1 --port 6006" \
          "wait-on http://127.0.0.1:6006 && pnpm --filter=@shopware-ag/meteor-component-library run test:storybook"

      - name: Run tests and update snapshots
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          npx concurrently --kill-others --success first --names "SB,TEST"  --hide "SB" --prefix-colors "magenta,blue" \
          "http-server ./packages/component-library/storybook-static -a 127.0.0.1 --port 6006" \
          "wait-on http://127.0.0.1:6006 && pnpm --filter=@shopware-ag/meteor-component-library run test:storybook -u"

      - name: Archive visual test diffs
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: visual-test-diffs
          path: ./packages/component-library/__snapshots__

      - name: Commit update snapshots
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "update snapshots"
