.mt-graph-area > .apexcharts-canvas.apexcharts-theme-light {
  .apexcharts-tooltip {
    background-color: var(--color-elevation-surface-overlay);
    border: 1px solid var(--color-border-primary-default);
    border-radius: var(--border-radius-l);
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 10%);

    .apexcharts-tooltip {
      &-title {
        font-family: $font-family-default !important;
        font-size: var(--font-size-xs) !important;
        font-weight: var(--font-weight-bold);
        background: var(--color-text-static-default);
        border-bottom: 1px solid var(--color-border-primary-default);
        padding: 10px 16px;
        margin-bottom: 0;
      }

      &-series-group {
        padding: 10px 16px;
      }

      &-marker {
        margin-right: 0;
      }

      &-text-y-label {
        display: none;
      }

      &-text-y-value {
        font-family: $font-family-default;
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-medium);
      }

      &-y-group {
        padding: 0;
      }
    }
  }
}
