h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-primary-default);
  font-weight: var(--font-weight-semibold);
  margin-block-end: var(--scale-size-20);
}

p {
  color: var(--color-text-primary-default);
}
